body {
    margin: 0;
}

.carousel {
    height: 433px;
}

img {
    width: 300px;
}

.carousel img {
    height: 433px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}